* {
	padding:0;
}

html {
	background-color: #F4F4F4;
	width: 100%;
	
}


body {
	
	text-align: center;
	font-family: avenir, helvetica, sans-serif;
	background-color: #ffffff;
}


#top {
	text-transform: uppercase;
	font-size: 40px;
	background: #00E1FF;
	padding-top: 10px;
	color: #FFFFFF;
}

#title {
	color:#686868;
	font-size: 22px;
	text-align: left;
	/*position: relative;
	top: 15px;*/
	line-height: 1.3em;
	padding-top: 2.5em;
	padding-left: 10px;

}

#nav {
	position: absolute;
	top: 115px;
	left: -15px;
	text-align: left;
	background-color: #00E1FF;
	list-style-type: none;
	height: 60px;
	color:#FFFFFF;
	padding-top: 10px;
	margin-left: 10px;
	padding-left: 10px;
	margin-right: 5px;
	padding-right: 5px;
}


#side{
	color: #FFFFFF;
	background-color: #00E1FF;
	list-style-type: none;
}

#side:hover {
	color:#00FFC2;
}
a {
	display: block;
	padding-top:5px;
	padding-left:2px;
	padding-right: 2px;
}

a:link {
	color:#686868;
	text-decoration: none;
	transition: 0.5s;

}

a:visited{
	color:#686868;
}

a:hover{
	color:#eaeaea;
}

p {
	color: #777777;
	text-align: justify;
	padding-bottom: 20pt;
	padding-left: 10px;
	padding-right: 10px;	
	border-bottom: 1px solid #E4E1DB;
	line-height: 150%;	
}



/* Desktop */
@media screen and (min-width: 500px) {

html {
	background-color: #F4F4F4;
	width: 1500px;
	
}
	
body {
	width: 600px;
	background-color: #ffffff;
	margin: auto;
	padding: auto;
}

p {
	color: #777777;
	text-align: justify;
	padding-bottom: 20pt;
	padding-left: 40px;
	padding-right: 40px;	
	border-bottom: 1px solid #E4E1DB;	
}

#title {
	color:#686868;
	font-size: 22px;
	text-align: left;
	/*position: relative;
	top: 15px;*/
	line-height: 1.3em;
	padding-top: 2.5em;
	padding-left: 40px;
}

#nav {
	position: absolute;
	top: 150px;
	left: 321px;
	background-color: #00E1FF;
	list-style-type: none;
	height: 60px;
	text-align: left;
	padding-top: 10px;
	margin-left: 10px;
	padding-left: 10px;
	margin-right: 5px;
	padding-right: 5px;
	color:#FFFFFF;
}


}